body, html {
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
  background-color: rgba(226, 194, 144, 0.87);
}

*::after, *::before, * {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes box-animation {
  from {
    transform: scaleX(0) scaleY(0.9);
    -webkit-transform: scaleX(0%) scaleY(90%);
  }
  to {
    transform: scaleX(1) scaleY(0.9);
    -webkit-transform: scaleX(100%) scaleY(90%);
  }
}

@keyframes box-animation {
  from {
    transform: scaleX(0) scaleY(0.9);
    -webkit-transform: scaleX(0%) scaleY(90%);
  }
  to {
    transform: scaleX(1) scaleY(0.9);
    -webkit-transform: scaleX(100%) scaleY(90%);
  }
}
@-webkit-keyframes heart-translates-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25vw);
  }
}
@keyframes heart-translates-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25vw);
  }
}
@-webkit-keyframes heart-translates-right {
  from {
    transform: rotateY(180deg) translateX(0);
  }
  to {
    transform: rotateY(180deg) translateX(-25vw);
  }
}
@keyframes heart-translates-right {
  from {
    transform: rotateY(180deg) translateX(0);
  }
  to {
    transform: rotateY(180deg) translateX(-25vw);
  }
}
.main__section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(226, 194, 144, 0.87);
  overflow: scroll;
}
.main__section-button {
  position: absolute;
  top: 6vh;
  background-color: rgba(107, 45, 92, 0.87);
  border: none;
  height: 8vh;
  width: 20vh;
  border-radius: 3rem;
  font-family: "Pacifico", cursive;
  font-size: 1rem;
  color: rgba(248, 192, 200, 0.87);
}
.main__section-heart--left {
  height: 60vh;
  width: auto;
  fill: #F0386B;
}
.main__section-heart--right {
  height: 60vh;
  width: auto;
  transform: rotateY(180deg);
}
@media screen and (max-width: 680px) {
  .main__section .main__section-rectangle {
    bottom: 17vh;
  }
}
.main__section-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 50vw;
  transform: scaleX(0) scaleY(0.9);
  position: relative;
  background-color: rgba(240, 57, 107, 0.87);
  position: absolute;
  bottom: 14.9vh;
}
.main__section-rectangle-title {
  padding-top: 1rem;
  font-size: 3rem;
  color: white;
}
.main__section-rectangle-paragraph {
  text-align: center;
  font-size: 1rem;
  color: white;
}

.main__section-heart--right--animate {
  -webkit-animation-name: heart-translates-right;
          animation-name: heart-translates-right;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.main__section-heart--left--animate {
  -webkit-animation-name: heart-translates-left;
          animation-name: heart-translates-left;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.main__section-rectangle--animate {
  -webkit-animation-name: box-animation;
          animation-name: box-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.first-title {
  font-size: 8rem;
  position: absolute;
  color: rgba(248, 192, 200, 0.87);
  text-shadow: -1px -1px 0 rgba(107, 45, 92, 0.87), 1px -1px 0 rgba(107, 45, 92, 0.87), -1px 1px 0 rgba(107, 45, 92, 0.87), 1px 1px 0 rgba(107, 45, 92, 0.87);
}/*# sourceMappingURL=styles.css.map */